<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8">
    <title>Livraison Erreur</title>
    <link href="style.css" rel="stylesheet">
  </head>
  <body>
    <p><%= nature %></p>
  </body>
</html>
